<a href="https://colab.research.google.com/github/sabinonatalia/Listas_Python_UFABC/blob/main/Lista2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("https://www.dropbox.com/s/ot0qrsm9dz4rgiw/fake-file16.csv?dl=1")
print(df.query("Salario <= 11059 and Idade <= 46"))

    Funcionario Escolaridade Genero  Idade  Meses  Salario
1             2     Fundam.1      F     35     36     3640
4             5     Fundam.2      F     32     94     3450
11           12     Fundam.2      M     42     64     4500
14           15     Fundam.2      F     26     45     4860

In [ ]:
import pandas as pd
df = pd.read_csv("https://www.dropbox.com/s/cwfdaqzzznaetiz/fake-file02.csv?dl=1")
print(df.query("Idade <= 47"))

    Funcionario Escolaridade Genero  Idade  Meses  Salario
0             1     Fundam.1      M     25     75     9140
2             3     Fundam.1      M     35      2    10000
3             4     Fundam.2      M     40     63    15760
7             8     Fundam.1      M     45     93     6290
8             9     Fundam.2      F     37     73    16940
9            10     Fundam.1      M     41     48     5210
14           15     Fundam.2      F     22      7    15860
16           17     Fundam.2      F     21     58    10280
19           20     Superior      M     41     33    18550

In [ ]:
import pandas as pd
df = pd.read_csv("https://www.dropbox.com/s/ceqfz524q4rc10l/fake-file17.csv?dl=1")
print(df.groupby("Idade")["Escolaridade"].min())

Idade
21    Fundam.2
26    Fundam.2
31    Fundam.2
44    Fundam.1
49    Fundam.2
50    Fundam.1
51    Superior
52    Fundam.2
54    Fundam.1
55    Fundam.1
56    Fundam.2
59    Fundam.2
62    Fundam.1
64    Fundam.2
66    Fundam.1
72    Fundam.2
Name: Escolaridade, dtype: object

In [ ]:
import pandas as pd
df = pd.read_csv("https://www.dropbox.com/s/ndh81l021ny4ror/fake-file07.csv?dl=1")
print(df.sort_values(by=["Salario", "Genero"], ascending=[False, True]))

    Funcionario Escolaridade Genero  Idade  Meses  Salario
16           17     Fundam.2      M     37     86    18800
12           13     Fundam.1      M     21     36    18290
14           15     Fundam.2      F     37     71    17920
1             2     Fundam.2      M     56      4    17820
0             1     Fundam.2      F     16     84    16300
7             8     Superior      F     73     18    15850
18           19     Fundam.2      F     42     43    15820
8             9     Fundam.1      M     32     92    15020
9            10     Fundam.2      F     26     97    14320
15           16     Fundam.2      M     25     58    12980
11           12     Superior      M     52     42    12100
13           14     Superior      M     60     35    10680
5             6     Superior      M     62     31     9530
3             4     Fundam.2      F     65      6     8610
10           11     Fundam.2      F     50     82     8300
6             7     Fundam.1      O     18     72     7690
19           20     Fundam.1      F     42     47     5220
17           18     Fundam.1      F     32     96     2390
4             5     Fundam.1      F     36     85     1800
2             3     Fundam.1      F     64      6     1580

In [ ]:
import pandas as pd
df = pd.read_csv("https://www.dropbox.com/s/ceqfz524q4rc10l/fake-file17.csv?dl=1")
print(df.sort_values(by="Genero", ascending=False))

    Funcionario Escolaridade Genero  Idade  Meses  Salario
2             3     Fundam.2      O     64     49    19670
3             4     Fundam.2      O     72     18    13270
9            10     Fundam.2      O     21     73     4230
14           15     Fundam.1      M     50     41    15140
6             7     Fundam.1      M     66      2     8040
7             8     Fundam.2      M     59     19    12910
8             9     Fundam.2      M     56     86    19300
16           17     Fundam.1      M     62     68     1410
15           16     Fundam.1      M     55     34     5580
12           13     Superior      M     72     16     8880
13           14     Fundam.2      M     31     17     4160
0             1     Superior      F     62     88    12650
18           19     Fundam.2      F     49     47    14990
17           18     Fundam.2      F     52     16    10720
10           11     Superior      F     51     77    11070
11           12     Fundam.1      F     55     36    19020
1             2     Fundam.1      F     44     62     6500
5             6     Fundam.2      F     62     45     6450
4             5     Fundam.2      F     26      7     1510
19           20     Fundam.1      F     54     32    14920